<input type="text" placeholder="name" [(ngModel)]="paxDetails.name"/>
<input type="date" placeholder="dob" [(ngModel)]="paxDetails.dob"/>
<input type="text" placeholder="address" [(ngModel)]="paxDetails.address"/>
<input type="text" placeholder="postcode" [(ngModel)]="paxDetails.postcode"/>
<input type="text" placeholder="City/Town" [(ngModel)]="paxDetails.city"/>
<input type="text" placeholder="Country" [(ngModel)]="paxDetails.country"/>

