<p>Enter Flight Details</p>
<input placeholder="flight number" [(ngModel)]="flightDetails.flightNumber"/>
<input type="date" placeholder="date of flight" [(ngModel)]="flightDetails.depDate"/>
<input type="time" placeholder="departure time" [(ngModel)]="flightDetails.depTime"/>