<p>Enter Your Bank Details</p>
<input placeholder="account name" type="text" [(ngModel)]="bankDetails.name" disabled/>
<input placeholder="account number" type="number" [(ngModel)]="bankDetails.accountNumber"/>
<input placeholder="sort code" pattern="/^(?!(?:0{6}|00-00-00))(?:\d{6}|\d\d-\d\d-\d\d)$/"  [(ngModel)]="bankDetails.sortCode">
<p>Billing address:</p>
<p>address: {{ bankDetails.billingAddress.address }}</p>
<p>postcode: {{ bankDetails.billingAddress.postcode }}</p>
<p>town/city: {{ bankDetails.billingAddress.city }}</p>
<p>country: {{ bankDetails.billingAddress.country }}</p>