<main>
  <h1> Types of case</h1>
  <p>This page wouldn't really exisit, the type of case would be selected via query params in the url</p>
  <p>Not case codes as such but some identifier on our end, that corresponds with the case map</p>
  <ul>
    <li *ngFor="let case of caseTypes; let i = index">
      <a [routerLink]="['claim']" [queryParams]="{claimType: i}">Case {{i + 1 }}</a>
      <p>Claim components</p>
      <pre>{{ case | json }}</pre>
    </li>
  </ul>
</main>
