<p>claim step {{currentIndex + 1}} of {{totalSteps }}</p>
<router-outlet></router-outlet>
<button (click)="back()" *ngIf="currentIndex > 0">back</button>
<button (click)="next()" *ngIf="currentIndex < totalSteps -1">next</button>
<hr />
<pre>Debug:</pre>
<pre>{{ formData | async  | json}}</pre>